.services__main {
  padding-top: 10px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px 50px;
}

.services__card {}

.services__img-box {}

.services__card-title-row {}

.services__card-title {
  font-size: 25px;
}

.services__card-text {}