.applications__main {
	padding-top: 10px;
}
.applications__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 70px 50px;
}
.applications__card {}
.applications__img-box {}
.applications__card-title-row {
	margin-top: 15px;
}
.applications__card-title {
	font-size: 25px;
}
.applications__card-link {
	.link-basic();
}