.header {}
.header__inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 30px;
}
.header__row {
	display: flex;
	align-items: center;
	gap: 10px 20px;
}
.header__logo-col {
	flex-grow: 0;
	order: 1;
}
.header__logo-link {

}
.header__logo-box {
	width: 200px;
	height: 100px;
}
.header__nav-col {
	flex-grow: 2;
	order: 2;
}
.header__r-col {
	flex-grow: 0;
	order: 3;
}
.header__r {
	max-width: 220px;	
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.header__r-item {
}
.header__tel {}
.header__email {}