.header__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 10px 20px;
}
.header__logo-col {
	flex-grow: 0;
	order: 1;
}
.header__r-item {

}
.header__nav-col {
	display: none;
	order: 3;
}
.header__r-col {
		display: none;
	flex-grow: 0;
	order: 2;
}
