.header__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}
.header__logo-col {
	flex-grow: 0;
	order: 1;
}

.header__r-col {
	flex-grow: 0;
	order: 2;
}
.header__nav-col {
	order: 3;
	width: 100%;
}

.header__r-item {
}
.header__tel {}
.header__email {}